@media screen and (max-width: 1600px)
    .apartment
        & .left-part
            & h2
                font-size: 2.3em
            & h4
                font-size: 1.3em
            & h3
                font-size: 1.6em
            & .down-part
                & h3
                    font-size: 2.1em
                & h6
                    font-size: .9em
        & .right-part
            width: 50%
            margin-left: 50px
            & img
                width: 100%
    .add-apartment
        padding: 100px 60px 50px 60px
        & section
            margin: 0 30px
        & .left-part
            & h2
                font-size: 2.2em
            & .image
                display: block
                width: 96px
                height: 96px
                margin-top: 30px
                margin-bottom: -15px
                & label
                    & i
                        font-size: 3em
        & .center-part
            & h3
                margin-top: 30px
                font-size: 1.9em
        & .right-part
            img
                width: 400px
                height: 319px

@media screen and (max-width: 1500px)
    .add-apartment
        padding: 100px 50px 50px 50px
        & section
            margin: 0 20px
        & .left-part
            & h2
                font-size: 2em
        & .center-part
            & h3
                margin-top: 20px
                color: $secondary
                font-size: 1.8em
                font-weight: 400

        & .right-part
            padding-left: 40px
            img
                width: 350px
                height: 269px

    .rent-apartment
        padding: 150px 30px 50px 80px
        & .left-part
            width: 100%
            & h2
                font-size: 2em
        & .right-part
            padding-left: 0px
            img
                position: absolute
                bottom: 150px
                right: 50px
                width: 720px
                height: 605px

@media screen and (max-width: 1300px)
    .add-apartment
        padding: 100px 100px 50px 100px
        flex-wrap: wrap
        & section
            margin: 0
            width: 50%
        & .left-part
            padding-right: 50px
        & .right-part
            width: 100%
            text-align: center
            padding-left: 0
            margin-top: 50px
            & img
                display: none

    .rent-apartment
        padding: 150px 30px 30px 80px
        & .left-part
            & h2
                font-size: 1.9em
        & .right-part
            img
                width: 620px
                height: 505px

@media screen and (max-width: 1040px)
    .login-section
        & section.image
            display: none
        & section.form
            width: 100%
    .apartment
        flex-direction: column
        padding: 150px 80px 100px 80px
        & .left-part
            width: 100%
            & h2
                font-size: 2.1em
            & h4
                font-size: 1.1em
            & h3
                font-size: 1.4em
                &:first-of-type
                    margin-top: 20px
            & .down-part
                text-align: left
                margin-top: 40px
                & h3
                    font-size: 1.9em
                & h6
                    font-size: .9em
                & button
                    margin-left: 0
                    margin-top: 30px
                    margin-bottom: 50px
        & .right-part
            width: 100%
            margin-left: 0px
            & img
                width: 100%



@media screen and (max-width: 976px)
    .logo
        padding: 0
    .nav-wrapper
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 1
        background: #fff
        opacity: 0
        transition: all 0.2s ease
        & ul
            position: absolute
            top: 50%
            transform: translateY(-50%)
            width: 100%
            & li
                display: block
                float: none
                width: 100%
                text-align: right
                margin-bottom: 10px
                &:nth-child(1) a
                    transition: 0.2s
                &:nth-child(2) a
                    transition: 0.3s
                &:nth-child(3) a
                    transition: 0.4s
                &:nth-child(4) a
                    transition: 0.5s
                &:not(first-child)
                    margin-left: 0
                & a
                    padding: 10px 24px
                    opacity: 0
                    color: #000
                    font-weight: 600
                    letter-spacing: 1.2px
                    transform: translateX(-20px)
                    transition: all 0.2s ease
    .nav-btn
        position: fixed
        background-color: $primary
        right: 20px
        top: 15px
        font-size: 1.5em
        display: block
        width: 48px
        height: 48px
        cursor: pointer
        z-index: 9999
        border-radius: 50%
        & i
            display: block
            width: 20px
            height: 2px
            background: #FFF
            border-radius: 2px
            margin-left: 14px
            transform: translateY(1px)
            &:nth-child(1)
                margin-top: 16px
            &:nth-child(2)
                margin-top: 4px
                opacity: 1
            &:nth-child(3)
                margin-top: 4px

    .add-apartment
        padding: 100px 50px 50px 50px

@media screen and (max-width: 920px)
    button
        padding: 16px 37px

    .welcome
        & h1
            font-size: 7em
        & h4
            font-size: 1.2em
    .apartments
        & .list-apartments
            padding: 50px 30px 50px 10px
    .our-app
        & .mockups
            & img:not(.download)
                display: none
    footer
        & article
            & .first-part
                & h1
                    & a
                        font-size: 2.4em
                & h4
                    transform: translate(150px, -20px)
                    font-size: 1.1em

@media screen and (max-width: 850px)
    .add-apartment
        flex-wrap: nowrap
        flex-direction: column
        padding: 100px 100px 40px 100px
        & section
            display: flex
            @include flex-center
            flex-direction: column
            width: 100%
        & .left-part
            padding-right: 0
        & .center-part
            & h3
                margin-top: 50px

    .rent-apartment
        padding: 150px 50px 50px 50px
        & .left-part
            & h2
                font-size: 1.8em
        & .right-part
            img
                position: absolute
                bottom: 150px
                right: 50px
                width: 520px
                height: 405px
    .dimmer
        & .modal
            & button:first-of-type
                margin-right: auto


@media screen and (max-width: 711px)
    button
        padding: 16px 27px
        font-size: 1em

    .welcome
        & h1
            text-align: center
            font-size: 5em
        & h4
            transform: translateY(-120px)
            font-size: 1.1em
    .apartments
        padding: 0
        & .list-apartments
            padding: 50px 30px
            & .single-apartment
                margin-left: 0
                width: 100%
                & img
                    width: 100%
                    height: 335px
                & .layer
                    & h3
                        font-size: 3em
                    & h4
                        font-size: 1.6em
                    & h5
                        font-size: 1.4em
    footer
        & article
            & .first-part
                & h1
                    & a
                        text-align: center
                        font-size: 2.4em
                & h4
                    transform: translateY(-20px)
                    font-size: 1em
            & .second-part
                & h5
                    font-size: .9em
                    padding: 0 10px

    .apartment
        padding: 150px 60px 100px 60px
        & .left-part
            & h2
                font-size: 1.8em
            & h4
                font-size: 1em
            & h3
                font-size: 1.2em
            & .down-part
                & h3
                    font-size: 1.5em

@media screen and (max-width: 650px)
    .add-apartment
        padding: 100px 50px 40px 50px
        & .left-part
            & h2
                font-size: 1.7em
        & .center-part
            & span
                transform: translateX(-20px)
        & .center-part
            & h3
                font-size: 1.4em


    .rent-apartment
        padding: 0 40px
        display: flex
        @include flex-center
        flex-direction: column
        & .left-part
            & h2
                font-size: 1.6em
        & .right-part
            text-align: center
            img
                position: static
                width: 420px
                height: 305px

@media screen and (max-width: 550px)
    .login-section
        & section.form
            padding: 150px 50px
    .apartment
        padding: 130px 50px 100px 50px
        & .left-part
            & h2
                font-size: 1.6em
            & h4
                font-size: 1em
            & h3
                font-size: 1.2em
            & .down-part
                & h3
                    font-size: 1.3em
    .dimmer
        padding: 30px
        & .modal
            padding: 40px 50px
            h2
                font-size: 1.3em
            h4
                margin-top: 20px
                font-size: 1em
            button
                margin: 0 auto
                margin-top: 20px
    .add-apartment
        padding: 100px 30px 40px 30px

@media screen and (max-width: 500px)
    .welcome
        & h1
            display: none
        & h4
            display: none
        & button
            display: none
    .apartments
        & .list-apartments
            padding: 50px 20px
            & .single-apartment
                & .layer
                    & h3
                        font-size: 2.4em
                    & h4
                        font-size: 1.3em
                    & h5
                        font-size: 1.1em
    footer
        & article
            & .first-part
                & h4
                    display: none
            & .second-part
                flex-direction: column
                & h5
                    font-size: .9em
                    padding: 5px 0

    .add-apartment
        padding: 100px 20px 40px 20px
        & section
            & span:not(.orange-text)
                width: 270px
                & .checkbox
                    font-size: 1.5em
                & input
                    font-size: .9em
        & .left-part
            & span:not(.orange-text)
                width: 330px

    .rent-apartment
        padding: 50px 40px 0px 40px
        flex-direction: column-reverse
        text-align: center
        & .left-part
            & h2
                margin-top: 50px
                font-size: 1.5em
            & p
                font-size: .9em
            & button
                margin: 0 auto
                margin-top: 20px
            & span:not(.orange-text)
                margin: 0 auto
                margin-top: 20px
            br
                display: none
        & .right-part
            img
                width: 320px
                height: 205px

@media screen and (max-width: 450px)
    .login-section
        & section.form
            padding: 150px 30px
            & img
                width: 250px
                height: 211px
            & form
                & span.email, span.password, span.name
                    width: 100%
                    & i
                        float: left
                    input
                        width: calc(100% - 37px)

    .apartment
        padding: 120px 30px 100px 30px
        & .left-part
            & h2
                font-size: 1.3em
            & h4
                font-size: 1em
            & h3
                font-size: 1.1em
            & .down-part
                & h3
                    font-size: 1.2em


@media screen and (max-width: 420px)
    .article-title
        font-size: 2.3em
    .apartments
        & .list-apartments
            & .single-apartment
                & .layer
                    & h3
                        font-size: 2.4em
                    & h4
                        font-size: 1.2em
                    & h5
                        font-size: 1em
    .our-app
        padding: 0px 40px 0px 40px
        & .mockups
            & img.download
                height: 531px
                margin: 0px 20px
    .login-section
        & section.form
            padding: 100px 30px 50px 30px
            & img
                width: 250px
                height: 161px
            & form
                & span.email, span.password, span.name
                    & input
                        font-size: .8em
        & section.decision
            & p
                font-size: 1.2em
            & a
                font-size: .9em
    .dimmer
        padding: 20px
        & .modal
            padding: 40px 40px
            h2
                font-size: 1.2em
                margin-top: 0
            h4
                font-size: 1em
            & img
                display: none

    .add-apartment
        & .left-part
            & span:not(.orange-text)
                width: 90%
        & .center-part
            & span:not(.orange-text)
                width: 80%
                & .checkbox
                    font-size: 1.3em
                    transform: translate(35px, -50%)
                & input
                    font-size: .8em
        & .back
            display: none

@media screen and (max-width: 400px)
    .rent-apartment
        padding: 100px 30px 0px 30px
        & .left-part
            & h2
                margin-top: 40px
                font-size: 1.4em
        & .right-part
            img
                width: 280px
                height: 165px

@media screen and (max-width: 350px)
    .article-title
        font-size: 2em
    .apartments
        & .list-apartments
            & .single-apartment
                & .layer
                    & h3
                        text-align: center
                        font-size: 2em
                    & h4
                        text-align: center
                        font-size: 1em
                    & h5
                        text-align: center
                        font-size: .9em

    .our-app
        padding: 0px 20px
        & .mockups
            & img.download
                height: 431px
                margin: 0px 20px
            & .download-app
                & button
                    font-size: .6em
                    padding: 10px 21px

@media screen and (max-width: 300px)
    .login-section
        & section.form
            & img
                width: 230px
                height: 131px

    .rent-apartment
        & .left-part
            & span:not(.orange-text)
                margin: 0 auto
                margin-top: 20px
                width: 220px
                & input
                    font-size: .9em

@media screen and (orientation: portrait)
    .apartments
        & .list-apartments
            & .single-apartment
                & .layer
                    opacity: 1
