@import url(https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto&display=swap);@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: #FFF;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.orange-text {
  color: #ffa500;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #ffa500;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff9500;
}

@-webkit-keyframes activeLink {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes activeLink {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

nav {
  position: fixed;
  padding: 8px;
  width: 100%;
  height: 80px;
  z-index: 9999;
  transition: 1s color, 1s background-color;
}

nav .logo {
  float: left;
  padding: 0px 8px;
  margin-left: 16px;
  font-family: "Indie Flower", sans-serif;
}

nav .logo a {
  color: #ffa500;
  font-weight: 600;
  font-size: 2.5em;
  letter-spacing: 3px;
  text-decoration: none;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
  padding: 24px 0px;
  font-size: 0.9em;
}

nav ul li:not(:first-child) {
  margin-left: 60px;
}

nav ul li:last-child {
  margin-right: 60px;
}

nav ul li a {
  display: inline-block;
  outline: none;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.2px;
  font-weight: 400;
}

nav ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #ffa500;
  transition: width 1s;
}

nav ul li a.active::after {
  -webkit-animation: activeLink ease-in 1s;
          animation: activeLink ease-in 1s;
}

nav ul li a.active::after {
  width: 100%;
}

nav ul li a:hover::after {
  width: 100%;
  translation: width 1s;
}

nav.orange {
  background-color: #ffa500;
}

nav.orange ul li a {
  color: #FFF;
}

nav.orange ul li a::after {
  background-color: #FFF;
}

nav.orange-ww {
  background-color: #ffa500;
}

#nav:checked + .nav-btn {
  transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: #FFF;
  transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  transform: translateX(0);
}

.hidden {
  display: none;
}

footer svg {
  position: relative;
  overflow: hidden;
  transform: translateY(5px);
  z-index: 9;
}

footer article {
  z-index: 9;
  position: relative;
  height: 200px;
  background-color: #ffa500;
}

footer article .first-part {
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer article .first-part h1 {
  font-family: "Indie Flower", sans-serif;
}

footer article .first-part h1 a {
  color: #ffa500;
  font-weight: 600;
  font-size: 2.8em;
  letter-spacing: 3px;
  text-decoration: none;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

footer article .first-part h4 {
  transform: translate(200px, -20px);
  font-size: 1.2em;
  font-weight: 400;
  font-family: "Indie Flower", sans-serif;
}

footer article .second-part {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

footer article .second-part h5 {
  color: #FFF;
  font-size: 1em;
  padding: 0 50px;
  font-weight: 400;
  transform: translateY(20px);
}

footer article .second-part h5 a {
  text-decoration: none;
  color: #FFF;
}

footer article .second-part h5 a:hover {
  color: #ddd;
}

a {
  text-decoration: none;
  color: #FFF;
}

button {
  display: block;
  color: #FFF;
  text-transform: uppercase;
  padding: 16px 57px;
  background-color: #ffa500;
  border: 1px solid #ff9500;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  font-size: 1em;
  outline: none;
  margin: 0 auto;
  transition: 0.6s box-shadow, 0.6s background-color;
}

button:hover {
  cursor: pointer;
  background-color: #ff9500;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.6);
}

.welcome {
  width: 100%;
  height: 100vh;
  background-image: url(/images/home.jpg?245603e5c4e9ee6ec2fc5088afc1e2fb);
  background-position: center;
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.welcome h1 {
  color: #ffa500;
  font-family: "Indie Flower", sans-serif;
  letter-spacing: 5px;
  font-weight: 500;
  font-size: 8em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  transform: translateY(-80px);
}

.welcome h4 {
  transform: translate(120px, -140px);
  font-size: 1.4em;
  font-weight: 400;
  font-family: "Indie Flower", sans-serif;
}

.welcome .fa-arrow-circle-down {
  position: absolute;
  bottom: 5%;
  left: 50%;
  color: #ffa500;
  transform: translateX(-50%);
  font-size: 4em;
  transition: 0.6s color;
}

.welcome .fa-arrow-circle-down:hover {
  color: #ff9500;
  cursor: pointer;
}

.welcome button {
  transform: translateY(-100px);
}

.article-title {
  text-align: center;
  font-size: 2.5em;
  color: #ffa500;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding-top: 50px;
}

.article-subtitle {
  text-align: center;
  color: #999;
  font-weight: 400;
}

.apartments {
  width: 100%;
  min-height: calc(100vh - 80px);
}

.apartments .list-apartments {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 50px 50px 50px 30px;
  flex-wrap: wrap;
}

.apartments .list-apartments .single-apartment {
  position: relative;
  margin-left: 20px;
  margin-top: 20px;
}

.apartments .list-apartments .single-apartment img {
  width: 311px;
  height: 235px;
  -o-object-fit: cover;
     object-fit: cover;
}

.apartments .list-apartments .single-apartment .layer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffa500cc;
  opacity: 0;
  transition: 0.6s opacity;
}

.apartments .list-apartments .single-apartment .layer h3 {
  color: #FFF;
  font-weight: 400;
  font-size: 2em;
}

.apartments .list-apartments .single-apartment .layer h4 {
  color: #555;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1em;
}

.apartments .list-apartments .single-apartment .layer h5 {
  color: #777;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9em;
}

.apartments .list-apartments .single-apartment:hover .layer {
  opacity: 1;
  cursor: pointer;
}

.apartments button {
  margin-bottom: 50px;
}

.divider {
  width: 100%;
  height: 300px;
  background-image: url(/images/divider.png?f02ffda1d40a9779a30524cccb3e2e53);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.our-app {
  width: 100%;
  min-height: calc(100vh - 160px);
  padding: 0px 50px 0px 50px;
}

.our-app .mockups {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin-top: 50px;
}

.our-app .mockups img:not(.download) {
  height: 531px;
  transform: translateY(20px);
}

.our-app .mockups img.download {
  height: 571px;
  margin: 0px 30px;
}

.our-app .mockups .download-app {
  position: relative;
}

.our-app .mockups .download-app button {
  position: absolute;
  font-size: 0.7em;
  padding: 10px 31px;
  top: 67.2%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

.login-section {
  width: 100%;
  min-height: 90%;
  background-color: #FFF;
}

.login-section section.image {
  position: relative;
  float: left;
  width: 40%;
  min-height: 90vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.login-section section.image img {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.login-section section.decision p {
  margin-top: 50px;
  color: #555;
  font-size: 1.3em;
}

.login-section section.decision a:first-of-type {
  margin-top: 40px;
  margin-bottom: 20px;
}

.login-section section.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  float: left;
  padding: 150px 100px;
  width: 60%;
  min-height: 90vh;
}

.login-section section.form img {
  width: 310px;
  height: 261px;
}

.login-section section.form form span.email,
.login-section section.form form span.password,
.login-section section.form form span.name {
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  width: 330px;
  border: 1px solid #ffa500;
  border-radius: 38px;
  padding: 17px 31px 17px 17px;
}

.login-section section.form form span.email:first-of-type,
.login-section section.form form span.password:first-of-type,
.login-section section.form form span.name:first-of-type {
  margin-top: 40px;
}

.login-section section.form form span.email i,
.login-section section.form form span.password i,
.login-section section.form form span.name i {
  color: #ffa500;
  margin-left: 10px;
  display: inline-block;
}

.login-section section.form form span.email input,
.login-section section.form form span.password input,
.login-section section.form form span.name input {
  display: inline-block;
  background: transparent;
  border: 0;
  outline: none;
  margin-left: 11px;
  font-size: 1em;
}

.login-section section.form form .invalid-feedback p {
  color: red;
  margin-top: 10px;
}

.login-section section.form form span.remember {
  display: block;
  margin: 20px 0;
}

.login-section section.form form span.remember label {
  color: #ffa500;
}

.login-section section.form form span.remember label:hover {
  color: #ff9500;
}

.login-section section.form form a {
  margin-top: 10px;
  display: block;
  color: #ffa500;
  text-decoration: none;
}

.login-section section.form form a:first-of-type {
  margin-top: 20px;
}

.login-section section.form form a:hover {
  color: #ff9500;
}

.apartment {
  width: 100%;
  min-height: 90vh;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.apartment .left-part {
  width: 50%;
}

.apartment .left-part h2 {
  text-transform: uppercase;
  color: #ffa500;
  font-size: 2.6em;
  font-weight: 400;
}

.apartment .left-part h4 {
  color: #999;
  font-size: 1.5em;
  font-weight: 400;
}

.apartment .left-part h3 {
  color: #555;
  font-size: 1.8em;
  font-weight: 400;
}

.apartment .left-part h3:first-of-type {
  margin-top: 50px;
}

.apartment .left-part .down-part {
  text-align: center;
  margin-top: 100px;
}

.apartment .left-part .down-part h3 {
  font-size: 2.3em;
}

.apartment .left-part .down-part h6 {
  font-size: 0.9em;
  color: #999;
  font-weight: 400;
}

.apartment .left-part .down-part button {
  margin-top: 30px;
}

.apartment .right-part {
  width: 50%;
  margin-left: 50px;
}

.apartment .right-part img {
  width: 100%;
}

.dimmer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.dimmer .modal {
  width: 700px;
  min-height: 300px;
  padding: 50px 70px;
  border-radius: 30px;
  text-align: center;
  background-color: #FFF;
}

.dimmer .modal h2 {
  color: #555;
  font-size: 1.5em;
}

.dimmer .modal h4 {
  color: #999;
  font-weight: 400;
  margin-top: 30px;
  font-size: 1.1em;
}

.dimmer .modal button {
  display: inline-block;
  margin-top: 30px;
}

.dimmer .modal button:first-of-type {
  margin-right: 20px;
}

.add-apartment {
  width: 100%;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 80px 50px 80px;
}

.add-apartment section {
  margin: 0 40px;
  width: 33%;
}

.add-apartment span:not(.orange-text) {
  position: relative;
  display: block;
  margin-top: 20px;
  width: 340px;
  border: 1px solid #ffa500;
  border-radius: 38px;
  padding: 17px 31px 17px 17px;
}

.add-apartment span:not(.orange-text):first-of-type {
  margin-top: 40px;
}

.add-apartment span:not(.orange-text) i {
  color: #ffa500;
  margin-left: 10px;
  display: inline-block;
}

.add-apartment span:not(.orange-text) .checkbox {
  position: absolute;
  font-size: 2em;
  top: 50%;
  right: 0;
  transform: translate(50px, -50%);
  cursor: pointer;
  transition: 1s color;
}

.add-apartment span:not(.orange-text) .checkbox:hover {
  color: #ff9500;
}

.add-apartment span:not(.orange-text) input {
  display: inline-block;
  background: transparent;
  width: calc(100% - 50px);
  border: 0;
  outline: none;
  margin-left: 11px;
  font-size: 1em;
}

.add-apartment span:not(.orange-text) input[type=checkbox] {
  display: none;
}

.add-apartment .left-part h2 {
  color: #555;
  font-size: 2.3em;
  font-weight: 400;
}

.add-apartment .left-part .image {
  display: block;
  width: 128px;
  height: 128px;
  margin-top: 30px;
  margin-bottom: -15px;
}

.add-apartment .left-part .image label {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ffa500;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-apartment .left-part .image label i {
  font-size: 4em;
  color: #FFF;
}

.add-apartment .left-part .image input {
  opacity: 0;
  position: absolute;
  z-index: -1;
  width: 1px;
}

.add-apartment .center-part h3 {
  margin-top: 20px;
  color: #555;
  font-size: 2em;
  font-weight: 400;
}

.add-apartment .right-part {
  padding-left: 50px;
}

.add-apartment .right-part img {
  width: 450px;
  height: 369px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.add-apartment .right-part .errors ul {
  margin-top: 30px;
  list-style: none;
}

.add-apartment .right-part .errors ul li {
  color: red;
}

.rent-apartment {
  width: 100%;
  min-height: 90vh;
  display: flex;
  padding: 150px 100px 50px 100px;
}

.rent-apartment section {
  color: #555;
}

.rent-apartment section span:not(.orange-text) {
  position: relative;
  display: block;
  margin-top: 20px;
  width: 240px;
  border: 1px solid #ffa500;
  border-radius: 38px;
  padding: 17px 31px 17px 17px;
}

.rent-apartment section span:not(.orange-text) i {
  color: #ffa500;
  margin-left: 10px;
  display: inline-block;
}

.rent-apartment section span:not(.orange-text) input {
  display: inline-block;
  background: transparent;
  width: calc(100% - 50px);
  border: 0;
  outline: none;
  margin-left: 11px;
  font-size: 1em;
}

.rent-apartment .left-part {
  width: 35%;
}

.rent-apartment .left-part h2 {
  color: #555;
  font-size: 2.3em;
  font-weight: 400;
  margin-bottom: 30px;
}

.rent-apartment .left-part button {
  margin-left: 0;
  margin-top: 20px;
}

.rent-apartment .right-part img {
  width: 820px;
  height: 705px;
  margin: 0 auto;
}

.activity-center {
  width: 100%;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 80px 50px 80px;
}

.activity-center section {
  width: 50%;
}

.activity-center .list-apartments {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.activity-center .list-apartments .single-apartment {
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
  width: 400px;
  height: 250px;
}

.activity-center .list-apartments .single-apartment:first-of-type {
  margin-left: 0;
}

.activity-center .list-apartments .single-apartment img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.activity-center .list-apartments .single-apartment h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffa500;
  font-weight: 400;
  font-size: 1.3em;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.4);
}

.activity-center .list-apartments .single-apartment .layer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffa500cc;
  opacity: 0;
  transition: 0.6s opacity;
}

.activity-center .list-apartments .single-apartment .layer h4 {
  color: #FFF;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.4em;
}

.activity-center .list-apartments .single-apartment:hover .layer {
  opacity: 1;
  cursor: pointer;
}

.activity-center .list-apartments .single-apartment:hover h3 {
  display: none;
}

.activity-center h2 {
  color: #555;
  font-size: 2.3em;
  font-weight: 400;
  margin-bottom: 30px;
}

.activity-center h2 i {
  color: #999;
  transition: 0.6s color;
}

.activity-center h2 i:hover {
  color: #bbb;
  cursor: pointer;
}

.activity-center h4 {
  color: #555;
  font-size: 1.7em;
  font-weight: 400;
}

.activity-center h4.events {
  margin-top: 40px;
}

.activity-center .left-part button {
  margin-top: 20px;
}

.activity-center .left-part ul {
  margin-top: 10px;
  margin-left: 20px;
  list-style: none;
}

.activity-center .left-part ul li {
  padding-top: 5px;
}

.activity-center .left-part ul li::before {
  content: "\25A0";
  color: #FFA500;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.activity-center .settings {
  position: absolute;
  font-size: 1em;
  right: 50px;
  top: 100px;
  padding: 16px 45px;
}

.activity-center .settings i {
  margin-right: 15px;
}

.apartment-details {
  width: 100%;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 80px 50px 80px;
}

.apartment-details .left-part .name {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffa500;
  margin-bottom: 10px;
}

.apartment-details .left-part img {
  width: 670px;
  height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
}

.apartment-details .left-part h3 {
  color: #555;
  font-size: 1.7em;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 10px;
}

.apartment-details .left-part .list-of-members {
  display: flex;
  align-items: start;
}

.apartment-details .left-part .list-of-members .single-member {
  margin-left: 15px;
}

.apartment-details .left-part .list-of-members .single-member:first-of-type {
  margin-left: 0;
}

.apartment-details .left-part .list-of-members .single-member .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #004900;
  color: #FFF;
  text-transform: uppercase;
  font-size: 1.4em;
  transition: 0.6s box-shadow;
}

.apartment-details .left-part .list-of-members .single-member .circle:hover {
  cursor: pointer;
  box-shadow: 0 0 5px #ffa500;
}

.apartment-details .left-part .list-of-members .single-member .circle-add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #ffa500;
  color: #FFF;
  font-size: 1.4em;
  transition: 0.6s background-color;
}

.apartment-details .left-part .list-of-members .single-member .circle-add:hover {
  cursor: pointer;
  background-color: #ff9500;
}

.apartment-details .left-part .list-of-members .single-member p {
  margin-top: 5px;
  font-size: 0.8em;
  text-align: center;
  color: #555;
}

.apartment-details .left-part .bottom-part {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.apartment-details .left-part .bottom-part p {
  color: #555;
  text-align: center;
  width: 50%;
  padding: 0px 20px 0px 0px;
}

.apartment-details .right-part {
  width: 50%;
}

.apartment-details .right-part h3 {
  color: #555;
  font-size: 1.7em;
  font-weight: 400;
}

.apartment-details .back {
  position: absolute;
  font-size: 1em;
  right: 50px;
  top: 100px;
  padding: 16px 45px;
}

.apartment-details .back i {
  margin-right: 15px;
}

.apartment-details .bills {
  position: absolute;
  font-size: 1em;
  right: 50px;
  bottom: 200px;
  padding: 16px 45px;
}

.apartment-details .bills i {
  margin-right: 15px;
}

@media screen and (max-width: 1600px) {
  .apartment .left-part h2 {
    font-size: 2.3em;
  }

  .apartment .left-part h4 {
    font-size: 1.3em;
  }

  .apartment .left-part h3 {
    font-size: 1.6em;
  }

  .apartment .left-part .down-part h3 {
    font-size: 2.1em;
  }

  .apartment .left-part .down-part h6 {
    font-size: 0.9em;
  }

  .apartment .right-part {
    width: 50%;
    margin-left: 50px;
  }

  .apartment .right-part img {
    width: 100%;
  }

  .add-apartment {
    padding: 100px 60px 50px 60px;
  }

  .add-apartment section {
    margin: 0 30px;
  }

  .add-apartment .left-part h2 {
    font-size: 2.2em;
  }

  .add-apartment .left-part .image {
    display: block;
    width: 96px;
    height: 96px;
    margin-top: 30px;
    margin-bottom: -15px;
  }

  .add-apartment .left-part .image label i {
    font-size: 3em;
  }

  .add-apartment .center-part h3 {
    margin-top: 30px;
    font-size: 1.9em;
  }

  .add-apartment .right-part img {
    width: 400px;
    height: 319px;
  }
}

@media screen and (max-width: 1500px) {
  .add-apartment {
    padding: 100px 50px 50px 50px;
  }

  .add-apartment section {
    margin: 0 20px;
  }

  .add-apartment .left-part h2 {
    font-size: 2em;
  }

  .add-apartment .center-part h3 {
    margin-top: 20px;
    color: #555;
    font-size: 1.8em;
    font-weight: 400;
  }

  .add-apartment .right-part {
    padding-left: 40px;
  }

  .add-apartment .right-part img {
    width: 350px;
    height: 269px;
  }

  .rent-apartment {
    padding: 150px 30px 50px 80px;
  }

  .rent-apartment .left-part {
    width: 100%;
  }

  .rent-apartment .left-part h2 {
    font-size: 2em;
  }

  .rent-apartment .right-part {
    padding-left: 0px;
  }

  .rent-apartment .right-part img {
    position: absolute;
    bottom: 150px;
    right: 50px;
    width: 720px;
    height: 605px;
  }
}

@media screen and (max-width: 1300px) {
  .add-apartment {
    padding: 100px 100px 50px 100px;
    flex-wrap: wrap;
  }

  .add-apartment section {
    margin: 0;
    width: 50%;
  }

  .add-apartment .left-part {
    padding-right: 50px;
  }

  .add-apartment .right-part {
    width: 100%;
    text-align: center;
    padding-left: 0;
    margin-top: 50px;
  }

  .add-apartment .right-part img {
    display: none;
  }

  .rent-apartment {
    padding: 150px 30px 30px 80px;
  }

  .rent-apartment .left-part h2 {
    font-size: 1.9em;
  }

  .rent-apartment .right-part img {
    width: 620px;
    height: 505px;
  }
}

@media screen and (max-width: 1040px) {
  .login-section section.image {
    display: none;
  }

  .login-section section.form {
    width: 100%;
  }

  .apartment {
    flex-direction: column;
    padding: 150px 80px 100px 80px;
  }

  .apartment .left-part {
    width: 100%;
  }

  .apartment .left-part h2 {
    font-size: 2.1em;
  }

  .apartment .left-part h4 {
    font-size: 1.1em;
  }

  .apartment .left-part h3 {
    font-size: 1.4em;
  }

  .apartment .left-part h3:first-of-type {
    margin-top: 20px;
  }

  .apartment .left-part .down-part {
    text-align: left;
    margin-top: 40px;
  }

  .apartment .left-part .down-part h3 {
    font-size: 1.9em;
  }

  .apartment .left-part .down-part h6 {
    font-size: 0.9em;
  }

  .apartment .left-part .down-part button {
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .apartment .right-part {
    width: 100%;
    margin-left: 0px;
  }

  .apartment .right-part img {
    width: 100%;
  }
}

@media screen and (max-width: 976px) {
  .logo {
    padding: 0;
  }

  .nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #fff;
    opacity: 0;
    transition: all 0.2s ease;
  }

  .nav-wrapper ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  .nav-wrapper ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }

  .nav-wrapper ul li:nth-child(1) a {
    transition: 0.2s;
  }

  .nav-wrapper ul li:nth-child(2) a {
    transition: 0.3s;
  }

  .nav-wrapper ul li:nth-child(3) a {
    transition: 0.4s;
  }

  .nav-wrapper ul li:nth-child(4) a {
    transition: 0.5s;
  }

  .nav-wrapper ul li:not(first-child) {
    margin-left: 0;
  }

  .nav-wrapper ul li a {
    padding: 10px 24px;
    opacity: 0;
    color: #000;
    font-weight: 600;
    letter-spacing: 1.2px;
    transform: translateX(-20px);
    transition: all 0.2s ease;
  }

  .nav-btn {
    position: fixed;
    background-color: #ffa500;
    right: 20px;
    top: 15px;
    font-size: 1.5em;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }

  .nav-btn i {
    display: block;
    width: 20px;
    height: 2px;
    background: #FFF;
    border-radius: 2px;
    margin-left: 14px;
    transform: translateY(1px);
  }

  .nav-btn i:nth-child(1) {
    margin-top: 16px;
  }

  .nav-btn i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }

  .nav-btn i:nth-child(3) {
    margin-top: 4px;
  }

  .add-apartment {
    padding: 100px 50px 50px 50px;
  }
}

@media screen and (max-width: 920px) {
  button {
    padding: 16px 37px;
  }

  .welcome h1 {
    font-size: 7em;
  }

  .welcome h4 {
    font-size: 1.2em;
  }

  .apartments .list-apartments {
    padding: 50px 30px 50px 10px;
  }

  .our-app .mockups img:not(.download) {
    display: none;
  }

  footer article .first-part h1 a {
    font-size: 2.4em;
  }

  footer article .first-part h4 {
    transform: translate(150px, -20px);
    font-size: 1.1em;
  }
}

@media screen and (max-width: 850px) {
  .add-apartment {
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 100px 100px 40px 100px;
  }

  .add-apartment section {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  .add-apartment .left-part {
    padding-right: 0;
  }

  .add-apartment .center-part h3 {
    margin-top: 50px;
  }

  .rent-apartment {
    padding: 150px 50px 50px 50px;
  }

  .rent-apartment .left-part h2 {
    font-size: 1.8em;
  }

  .rent-apartment .right-part img {
    position: absolute;
    bottom: 150px;
    right: 50px;
    width: 520px;
    height: 405px;
  }
}

@media screen and (max-width: 711px) {
  button {
    padding: 16px 27px;
    font-size: 1em;
  }

  .welcome h1 {
    text-align: center;
    font-size: 5em;
  }

  .welcome h4 {
    transform: translateY(-120px);
    font-size: 1.1em;
  }

  .apartments {
    padding: 0;
  }

  .apartments .list-apartments {
    padding: 50px 30px;
  }

  .apartments .list-apartments .single-apartment {
    margin-left: 0;
    width: 100%;
  }

  .apartments .list-apartments .single-apartment img {
    width: 100%;
    height: 335px;
  }

  .apartments .list-apartments .single-apartment .layer h3 {
    font-size: 3em;
  }

  .apartments .list-apartments .single-apartment .layer h4 {
    font-size: 1.6em;
  }

  .apartments .list-apartments .single-apartment .layer h5 {
    font-size: 1.4em;
  }

  footer article .first-part h1 a {
    text-align: center;
    font-size: 2.4em;
  }

  footer article .first-part h4 {
    transform: translateY(-20px);
    font-size: 1em;
  }

  footer article .second-part h5 {
    font-size: 0.9em;
    padding: 0 10px;
  }

  .apartment {
    padding: 150px 60px 100px 60px;
  }

  .apartment .left-part h2 {
    font-size: 1.8em;
  }

  .apartment .left-part h4 {
    font-size: 1em;
  }

  .apartment .left-part h3 {
    font-size: 1.2em;
  }

  .apartment .left-part .down-part h3 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 650px) {
  .add-apartment {
    padding: 100px 50px 40px 50px;
  }

  .add-apartment .left-part h2 {
    font-size: 1.7em;
  }

  .add-apartment .center-part span {
    transform: translateX(-20px);
  }

  .add-apartment .center-part h3 {
    font-size: 1.4em;
  }

  .rent-apartment {
    padding: 0 40px;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .rent-apartment .left-part h2 {
    font-size: 1.6em;
  }

  .rent-apartment .right-part {
    text-align: center;
  }

  .rent-apartment .right-part img {
    position: static;
    width: 420px;
    height: 305px;
  }
}

@media screen and (max-width: 550px) {
  .login-section section.form {
    padding: 150px 50px;
  }

  .apartment {
    padding: 130px 50px 100px 50px;
  }

  .apartment .left-part h2 {
    font-size: 1.6em;
  }

  .apartment .left-part h4 {
    font-size: 1em;
  }

  .apartment .left-part h3 {
    font-size: 1.2em;
  }

  .apartment .left-part .down-part h3 {
    font-size: 1.3em;
  }

  .dimmer {
    padding: 30px;
  }

  .dimmer .modal {
    padding: 40px 50px;
  }

  .dimmer .modal h2 {
    font-size: 1.3em;
  }

  .dimmer .modal h4 {
    margin-top: 20px;
    font-size: 1em;
  }

  .dimmer .modal button {
    margin: 0 auto;
    margin-top: 20px;
  }

  .dimmer .modal button:first-of-type {
    margin-right: 0px;
  }

  .add-apartment {
    padding: 100px 30px 40px 30px;
  }
}

@media screen and (max-width: 500px) {
  .welcome h1 {
    display: none;
  }

  .welcome h4 {
    display: none;
  }

  .welcome button {
    display: none;
  }

  .apartments .list-apartments {
    padding: 50px 20px;
  }

  .apartments .list-apartments .single-apartment .layer h3 {
    font-size: 2.4em;
  }

  .apartments .list-apartments .single-apartment .layer h4 {
    font-size: 1.3em;
  }

  .apartments .list-apartments .single-apartment .layer h5 {
    font-size: 1.1em;
  }

  footer article .first-part h4 {
    display: none;
  }

  footer article .second-part {
    flex-direction: column;
  }

  footer article .second-part h5 {
    font-size: 0.9em;
    padding: 5px 0;
  }

  .add-apartment {
    padding: 100px 20px 40px 20px;
  }

  .add-apartment section span:not(.orange-text) {
    width: 270px;
  }

  .add-apartment section span:not(.orange-text) .checkbox {
    font-size: 1.5em;
  }

  .add-apartment section span:not(.orange-text) input {
    font-size: 0.9em;
  }

  .add-apartment .left-part span:not(.orange-text) {
    width: 330px;
  }

  .rent-apartment {
    padding: 50px 40px 0px 40px;
    flex-direction: column-reverse;
    text-align: center;
  }

  .rent-apartment .left-part h2 {
    margin-top: 50px;
    font-size: 1.5em;
  }

  .rent-apartment .left-part p {
    font-size: 0.9em;
  }

  .rent-apartment .left-part button {
    margin: 0 auto;
    margin-top: 20px;
  }

  .rent-apartment .left-part span:not(.orange-text) {
    margin: 0 auto;
    margin-top: 20px;
  }

  .rent-apartment .left-part br {
    display: none;
  }

  .rent-apartment .right-part img {
    width: 320px;
    height: 205px;
  }
}

@media screen and (max-width: 450px) {
  .login-section section.form {
    padding: 150px 30px;
  }

  .login-section section.form img {
    width: 250px;
    height: 211px;
  }

  .login-section section.form form span.email,
  .login-section section.form form span.password,
  .login-section section.form form span.name {
    width: 100%;
  }

  .login-section section.form form span.email i,
  .login-section section.form form span.password i,
  .login-section section.form form span.name i {
    float: left;
  }

  .login-section section.form form span.email input,
  .login-section section.form form span.password input,
  .login-section section.form form span.name input {
    width: calc(100% - 37px);
  }

  .apartment {
    padding: 120px 30px 100px 30px;
  }

  .apartment .left-part h2 {
    font-size: 1.3em;
  }

  .apartment .left-part h4 {
    font-size: 1em;
  }

  .apartment .left-part h3 {
    font-size: 1.1em;
  }

  .apartment .left-part .down-part h3 {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 420px) {
  .article-title {
    font-size: 2.3em;
  }

  .apartments .list-apartments .single-apartment .layer h3 {
    font-size: 2.4em;
  }

  .apartments .list-apartments .single-apartment .layer h4 {
    font-size: 1.2em;
  }

  .apartments .list-apartments .single-apartment .layer h5 {
    font-size: 1em;
  }

  .our-app {
    padding: 0px 40px 0px 40px;
  }

  .our-app .mockups img.download {
    height: 531px;
    margin: 0px 20px;
  }

  .login-section section.form {
    padding: 100px 30px 50px 30px;
  }

  .login-section section.form img {
    width: 250px;
    height: 161px;
  }

  .login-section section.form form span.email input,
  .login-section section.form form span.password input,
  .login-section section.form form span.name input {
    font-size: 0.8em;
  }

  .login-section section.decision p {
    font-size: 1.2em;
  }

  .login-section section.decision a {
    font-size: 0.9em;
  }

  .dimmer {
    padding: 20px;
  }

  .dimmer .modal {
    padding: 40px 40px;
  }

  .dimmer .modal h2 {
    font-size: 1.2em;
  }

  .dimmer .modal h4 {
    font-size: 1em;
  }

  .add-apartment .left-part span:not(.orange-text) {
    width: 90%;
  }

  .add-apartment .center-part span:not(.orange-text) {
    width: 80%;
  }

  .add-apartment .center-part span:not(.orange-text) .checkbox {
    font-size: 1.3em;
    transform: translate(35px, -50%);
  }

  .add-apartment .center-part span:not(.orange-text) input {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 400px) {
  .rent-apartment {
    padding: 100px 30px 0px 30px;
  }

  .rent-apartment .left-part h2 {
    margin-top: 40px;
    font-size: 1.4em;
  }

  .rent-apartment .right-part img {
    width: 280px;
    height: 165px;
  }
}

@media screen and (max-width: 350px) {
  .article-title {
    font-size: 2em;
  }

  .apartments .list-apartments .single-apartment .layer h3 {
    text-align: center;
    font-size: 2em;
  }

  .apartments .list-apartments .single-apartment .layer h4 {
    text-align: center;
    font-size: 1em;
  }

  .apartments .list-apartments .single-apartment .layer h5 {
    text-align: center;
    font-size: 0.9em;
  }

  .our-app {
    padding: 0px 20px;
  }

  .our-app .mockups img.download {
    height: 431px;
    margin: 0px 20px;
  }

  .our-app .mockups .download-app button {
    font-size: 0.6em;
    padding: 10px 21px;
  }
}

@media screen and (max-width: 300px) {
  .login-section section.form img {
    width: 230px;
    height: 131px;
  }

  .rent-apartment .left-part span:not(.orange-text) {
    margin: 0 auto;
    margin-top: 20px;
    width: 220px;
  }

  .rent-apartment .left-part span:not(.orange-text) input {
    font-size: 0.9em;
  }
}

@media screen and (orientation: portrait) {
  .apartments .list-apartments .single-apartment .layer {
    opacity: 1;
  }
}

